
/* Botón Contáctanos en navbar */
.contact-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-left: 20px;
  font-size: 16px;
}

.contact-btn:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .contact-btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-left: 10px;
  }
}
